ul { 
  list-style-type: circle !important;
  text-decoration: none !important;
}

a, a:link, a:visited, a:active, h1, h2 { text-decoration: none !important; }

a:hover { color:rgb(255, 8, 0); }

form { display: inline-block; }

h1, .cen, #collapsible-body { text-align: center; }

.message, .incorrect{ color: rgb(159, 105, 247); }

.correct { color: rgb(29, 226, 12); }

.highlight { color: #0be11d; }

textarea {
  width: 80%;
  height: 50px;
  padding: 12px 20px;
  box-sizing: border-box;
  border: 2px solid #6d6b6b;
  border-radius: 4px;
  background-color: beige;
  font-size: 16px;
  resize: none;
}

#nav ul li a {
  text-decoration: none !important;
  text-align: center !important;
}

