ul {
    display: inline-block;
    list-style-type: circle;
}

form, label {
  display: inline-block;
}

h1 {
  text-align: center;
}

p.message {
  color: red;
}

.highlight {
  color: #327bf0;
}

textarea {
  width: 50%;
  height: 50px;
  padding: 12px 20px;
  box-sizing: border-box;
  border: 2px solid #6d6b6b;
  border-radius: 4px;
  background-color: beige;
  font-size: 16px;
  resize: none;
}